Source: adaptation-droidian-sargo
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-sargo/adaptation-droidian-sargo
Vcs-Git: https://github.com/droidian-sargo/adaptation-droidian-sargo.git

Package: adaptation-droidian-sargo
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api28-phone,
         adaptation-sargo-configs,
Description: adapatation-droidian-sargo - meta
 Google Pixel 3a/3a XL api28 adaptation metapackage

Package: adaptation-sargo-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-droidian-sargo (= ${binary:Version}),
Description: Google Pixel 3a/3a XL's specific adaptation configs
